body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: end;
  border-bottom: .3rem solid darkred;
}

h1 {
  grid-column: 1/span 2;
  margin-left: 1rem;
  color: pink;
  font-size: 4vw;
  text-shadow: #333 .15vw .15vw .15vw;
}

nav {
  display: flex;
  width: 33vw;
  justify-content: space-around;
  grid-column: 5/ span 2;
}

nav a {
  text-decoration: underline;
  color: darkblue;
  font-size: 15px;
}

a {
  text-decoration: none;
}